<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DreamHome.lk</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--
Template 2036 Blue Office
http://www.tooplate.com/view/2036-blue-office
-->
<link href="{{url_for('static',filename='tooplate_style.css')}}" rel="stylesheet" type="text/css" />

</head>
<body class="home">

<div id="tooplate_wrapper">

	<div id="tooplate_sidebar">
		<div id="site_title"><a href="#">Dream<span>Home.lk</span></a></div>
        
        <div id="home_service">
        	<div class="home_service_box"><span class="service1"></span><h5><a href="{{url_for('services')}}">Online House Valuation</a></h5>Check real property maret value</div>
                <div class="home_service_box"><span class="service2"></span><h5><a href="{{url_for('services')}}">Find your Dream Home</a></h5>
                All the house sale ads are here.</div>
            </div>
        
            <div class="sidebar_box">
                <h4>Best Service Providers</h4>	
                
                <div id="newsletter_box">
                <form action="#" method="get">			
                    Ready to start searching listings and hitting open houses? Save yourself some time by first identifying exactly what you need and want in a home using our checklist.<br />
                
                </form>
                </div>		
                
                <div class="cleaner"></div>
            </div>
            
              <div class="sidebar_box sbb_last">
                <strong>DreamHome.lk</strong><br />
                <b>Email:</b> <a href="#">dreamhome@gmail.com</a>		
            </div>
        </div> <!-- end of sidebar -->
    
    <div id="tooplate_main">
    	
        <div id="tooplate_menu">
            <ul>
                <li><a href="{{url_for('h')}}" class="current">Home</a></li>
                <li><a href="{{url_for('about')}}">About Us</a></li>
                <li><a href="{{url_for('services')}}">Services</a></li>
                
                <li><a href="{{url_for('contact')}}">Contact</a></li>
            </ul>    	
        </div> <!-- end of tooplate_menu -->
        
        <div id="featured_project">
       	  <h1>Online Housing Property Price Estimation</h1>
        	<img src="static/images/featured_project.jpg" alt="Feature 01" />
        </br></br>
            <h3>We are...</h3>
            <p>Sri Lankan best Housing Property Price estimation service providers. Now you can estimate your Dream Housing Property Price online in Colombo Suburbs in Sri Lanka. </p>
            
        </div> <!-- end of featured project -->
        
        <div id="tooplate_content">
        	<div class="col_w300 float_l">
            	<h2>DreamHome.lk:</h2>
                <h5><em> Start with our best estimate...</strong></em></h5>
                <p>Discover your home’s value with an instant online estimate based on powerful market data.
                    Whether you’re ready to sell or just plain curious, the next step is to get a local estate 
                    agent to give you an accurate valuation. We’ll put you in touch with no obligations.
                </p>
                <p>If you’re looking to estimate your Housing Property Price, You can get an instant estimate online by simply entering your main important requirements to our model. 
                </p>
            </div>
            
            <div class="col_w300 float_r">
            	<h2>What We Do?</h2>
                <div class="home_newsbox">
                    <img src="static/images/image_01.jpg" alt="Image 02" class="image_wrapper image_fl" />
                    <p>Provide advices to the customers who have lack of knowledge about the Housing Property Price in Colombo Suburbs in Sri Lanka.</p>
                    <div class="cleaner"></div>
				</div>  
                             
		  <div class="home_newsbox">
                    <img src="static/images/image_04.jpg" alt="Image 01" class="image_wrapper image_fl" />
                    <p>Provide facilities to estimate the housing property price in Colombo Suburbs in Sri Lanka using an accurate prediction model.</p>
                    <div class="cleaner"></div>
				</div> 
               
            </div>
        </div> <!-- end of content -->
    
    </div> <!-- end of content -->
	
    <div class="cleaner"></div>    
</div> <!-- end of wrapper -->

<div id="tooplate_footer_wrapper">
	<div id="tooplate_footer">

        <a href="{{url_for('h')}}">Home</a> | <a href="{{url_for('about')}}">About Us</a> | <a href="{{url_for('services')}}">Services</a> | <a href="{{url_for('contact')}}">Contact</a> <br /><br />
        
        DreamHome.lk | @2022
		
    </div>
</div>

</body>
</html>